body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

.slider {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.slider img.active {
  opacity: 1;
}

.form {
  padding: 15px;
  background: white;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background: #25D366;
  color: white;
  border: none;
  font-size: 16px;
  margin-top: 15px;
}

.paket label {
  display: block;
  margin-top: 5px;
}

