body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.header {
  text-align: center;
  padding: 16px;
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  position: relative;
  z-index: 3;
}


.header h1 {
  margin: 0;
}

.header p {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.9;
}

@media (max-width: 480px) {
  .slider, .slider img {
    height: 150px;
  }

  .slider-overlay h2 {
    font-size: 16px;
  }
}


.slider {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}

.slider img.active {
  opacity: 1;
}

.slider-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: white;
}

.slider-overlay h2 {
  font-size: 18px;
  font-weight: bold;
}

.slider-overlay p {
  font-size: 13px;
  opacity: .9;
}



.card {
  background: #020617;
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

.card h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #38bdf8;
}


label {
  margin-top: 12px;
  display: block;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #020617;
  color: white;
  border: 1px solid #1e293b;
}

/* PAKET */
.paket-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.paket-grid label {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.paket-grid input {
  display: none;
}

.paket-grid input:checked + span {
  color: #22c55e;
  font-weight: bold;
}

.hint {
  grid-column: span 2;
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
}

/* BUTTON */
.btn-wa {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
}


